<div class="navbar">
  <div class="menu">
    <h3 class="logo">Corner of <span>IoT</span></h3>
    {{#if (isdefined isLogged)}}
      {{#if isLogged}}
        <h2> You are logged in! </h2>
      {{else}}
        <div>
          <button class="custom-btn btn-16" onclick="sign_in_up()">Sign In</button>
          <button style="margin-left: 10px" class="custom-btn btn-16" onclick="sign_in_up()">Sign Up</button>
        </div>
      {{/if}}
    {{/if}}
    <div class="hamburger-menu">
      <div class="bar"></div>
    </div>
  </div>
</div>