<div class="links">
  <ul>
    <li id="home" class="active">
      <a href="/" style="--i: 0.05s">Home</a>
    </li>
    <li id="your_projects">
      <a href="/projects" style="--i: 0.1s">Projects</a>
    </li>
    <li id="prices">
      <a href="/prices" style="--i: 0.15s">Prices</a>
    </li>
    <li id="account">
      <a href="/" style="--i: 0.2s">Account</a>
    </li>
    <li id="contacts">
      <a href="/" style="--i: 0.25s">Contacts</a>
    </li>
  </ul>
</div>