<section id="todo__list">
  <h3 class="important" onclick="todo.delete()"> ToDo list </h3>
  <div class="todo">
    <form id="add_form" class="todo__input">
      <input id="todo_text_input" class="todo__text" type="text" size="30" value="">
      <input class="todo__add" type="submit" value="Go">
    </form>
    <select class="todo__options">
      <option value="active">активные</option>
      <option value="completed">завершённые</option>
      <option value="deleted">удалённые</option>
    </select>
    <ul class="todo__items" data-todo-option="active"></ul>
  </div>
</section>