<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prices</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="Controller for all your IoT things.">
    <meta name="keywords" content="iot, internet of things, controller, arduino, esp">
    <meta name="author" content="Igor Klyuzhev">
    <link rel="stylesheet" href="assets/css/main.css"/>
    <link rel="stylesheet" href="assets/css/menu_bar.css"/>
    <script type="text/javascript" src="js/page_load.js"></script>
</head>
<body>
<div class="container">

  {{> header }}

  <div class="main-container">
    <div class="main">
        <article class="page_name">
            <h3>Choose the most suitable plan for you</h3>
        </article>
        <div class="full_size">
            <div class="price_plans_container">
              {{#each prices}}
                <div class="grid-item-header">{{this.planName}}</div>
              {{/each}}
              {{#each prices}}
                <div class="grid-item-price"><b>${{this.priceForMonth}} /month</b></div>
              {{/each}}

                <div class="grid-item">2 devices max</div>
                <div class="grid-item">10 devices max</div>
                <div class="grid-item">40 devices max</div>

                <div class="grid-item">5 users max</div>
                <div class="grid-item">10 users max</div>
                <div class="grid-item">40 users max</div>

                <div class="grid-item">Basic Widgets</div>
                <div class="grid-item">Mobile PRO Widgets</div>
                <div class="grid-item">Mobile PRO Widgets</div>

                <div class="grid-item">1 week of historical data</div>
                <div class="grid-item">3 months of historical data</div>
                <div class="grid-item">Unlimited historical data</div>

                <div class="grid-item-button">Try for free</div>
                <div class="grid-item-button">Try for free</div>
                <div class="grid-item-button">Try for free</div>
            </div>
        </div>
        <div class="mini_size">
          <div class="price_plans_container">
            {{#each prices}}
              <div class="grid-item-header">{{this.planName}}</div>
              <div class="grid-item-price"><b>${{this.priceForMonth}} /month</b></div>
              <div class="grid-item">2 devices max</div>
              <div class="grid-item">5 users max</div>
              <div class="grid-item">Basic Widgets</div>
              <div class="grid-item">1 week of historical data</div>
              <div class="grid-item-button">Try for free</div>
            {{/each}}
<!--            <div class="grid-item-header">Basic</div>-->
<!--            <div class="grid-item-price"><b>$0 /month</b></div>-->
<!--            <div class="grid-item">2 devices max</div>-->
<!--            <div class="grid-item">5 users max</div>-->
<!--            <div class="grid-item">Basic Widgets</div>-->
<!--            <div class="grid-item">1 week of historical data</div>-->
<!--            <div class="grid-item-button">Try for free</div>-->

<!--            <div class="grid-item-header">Pro</div>-->
<!--            <div class="grid-item-price"><b>$4.99 /month</b></div>-->
<!--            <div class="grid-item">10 devices max</div>-->
<!--            <div class="grid-item">10 users max</div>-->
<!--            <div class="grid-item">Mobile PRO Widgets</div>-->
<!--            <div class="grid-item">3 months of historical data</div>-->
<!--            <div class="grid-item-button">Try for free</div>-->

<!--            <div class="grid-item-header">Premium</div>-->
<!--            <div class="grid-item-price"><b>$41 /month</b></div>-->
<!--            <div class="grid-item">40 devices max</div>-->
<!--            <div class="grid-item">40 users max</div>-->
<!--            <div class="grid-item">Mobile PRO Widgets</div>-->
<!--            <div class="grid-item">Unlimited historical data</div>-->
<!--            <div class="grid-item-button">Try for free</div>-->
          </div>

        </div>
        </section>

      {{> footer}}

    </div>
    <div class="shadow one"></div>
    <div class="shadow two"></div>
  </div>

  {{> sideNavBar }}

</div>

<script src="js/menu_toggle.js"></script>
</body>
</html>